.mdl-content__width {
	width: 900px;
	margin: 0 auto;
}

.mdl-grid--fill {
	height: -webkit-fill-available;
	justify-content: center;
}

.mdl-card--fill {
	width: 100%;
	min-height: auto;
}

#particles-js {
	background: #424242;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
}