{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">
		<title>Django Iota Auth</title>
		<meta name="description" content="A test implementation of Django and IOTA">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<link rel="stylesheet" href="{% static 'iota_auth/css/iota_auth.css' %}">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		{% block particles_bg %}{% endblock %}
		<div class="mdl-layout mdl-js-layout {% block layout_class %}{% endblock %}">
			<header class="mdl-layout__header {% block header_class %}{% endblock %}">
			{% include 'header.html' %}
		</header>
			{% include 'drawer.html' %}
			<main class="mdl-layout__content mdl-content__width {% block main_class%}{% endblock %}">
				{% block body %}
				{% endblock %}
			</main>
		</div>
		<script type="text/javascript" src="{% static 'iota_auth/js/particles.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'iota_auth/js/app.js' %}"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>