<div class="mdl-layout__header-row">
	<span class="mdl-layout-title">Django-Iota-Auth</span>
	<div class="mdl-layout-spacer"></div>
	<nav class="mdl-navigation">
		{% if not user.is_authenticated %}
			<a class="mdl-navigation__link" href="{% url 'iota_auth:login' %}">Login</a>
			<a class="mdl-navigation__link" href="{% url 'iota_auth:signup' %}">Signup</a>
		{% else %}
			<a class="mdl-navigation__link"">{{ request.user.email }}</a>
		{% endif %}
	</nav>
	<!-- Right aligned menu below button -->
	<button id="demo-menu-lower-right"
	class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
	</button>
	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
		for="demo-menu-lower-right">
		<a class="mdl-menu__item" href="{% url 'iota_account:account' request.user.pk %}">Account</a>
		<a class="mdl-menu__item" href="{% url 'iota_auth:logout' %}">Logout</a>
	</ul>
</div>